:root {
    --card-width-lg: 30vw;
    --card-width-md: 45vw;
    --card-width-sm:  80vw;
    --card-height-lg: 50vh;
    --card-height-md:75vh;
    --card-height-sm: 90vh;
}

.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 4rem 0 2rem;

    .app__work-filter-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--secondary-color);
            color: #fff;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .app__work-item {
        width: 270px;
        flex-direction: column;
        margin: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }

        @media screen and (min-width: 2000px) {
            height: 350px;
            width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and (max-width: 800px) and (min-width: 550px) {
            height: 350px;
            width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and (max-width: 300px) {
            width: 100%;
            margin: 1rem;
        }

    }
}

.app__work-img {
    width: 100%;
    height: 230px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;

    }

    @media screen and (min-width: 2000px) {
        height: 350px;
    }
}

.app__work-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            width: 50%;
            height: 50%;
            color: var(--white-color);
        }

    }
}

.app__work-content {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h4 {
        margin-top: 1rem;
        line-height: 1.5;
    }

    .app__work-tag {
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: #fff;
        top: -25px;
    }
}


/* Popup */
.app__work-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
  }
  
  .app__work-popup-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    width: var(--card-width-lg);
    max-height: var(--card-height-lg);
    min-height: calc(0.7 * var(--card-height-lg));
    overflow-y: auto;

    @media screen and (max-width: 1192px) {
        width: var(--card-width-md);
        max-height: var(--card-height-md);
        min-height: calc(0.7 * var(--card-height-md));
    }

    @media screen and (max-width: 830px) {
        width: var(--card-width-sm);
        max-height: var(--card-height-sm);
        min-height: calc(0.7 * var(--card-height-sm));
    }
  }
  
  .app__work-popup-img {
    object-fit: cover;
    margin-bottom: 1rem; /* Adjust spacing between image and description */
  }

  .popup-img {
    width: 100%;
    height: 100%;
  }
  
  .app__work-popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
  
    &:hover {
      color: #ff0000; /* Change to your preferred close button hover color */
    }
  }
  
  .app__work-popup-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  
    a {
      font-size: 1.5rem;
      color: #000;
      cursor: pointer;
      transition: color 0.3s ease;
  
      &:hover {
        color: #007bff; /* Change to your preferred link hover color */
      }
    }
  }
  